In [18]:
import pandas as pd
path = r'''C:\Users\nandit-pc\Downloads/iris.data '''
path2 = r'''C:\Users\nandit-pc\Downloads/iris.names'''
df_iris=pd.read_csv(path, header =None)

In [19]:
df_iris.head(5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [32]:
df_iris.rename(columns={ 0:'SepalLength', 1:'SepalWidth', 2:'PetalLength', 3:'PetalWidth', 4:'Species'}, inplace=True)

In [30]:
df_iris.index.name = 'Index'

In [33]:
df_iris.head()

       SepalLength  SepalWidth  PetalLength  PetalWidth      Species
Index
0              5.1         3.5          1.4         0.2  Iris-setosa
1              4.9         3.0          1.4         0.2  Iris-setosa
2              4.7         3.2          1.3         0.2  Iris-setosa
3              4.6         3.1          1.5         0.2  Iris-setosa
4              5.0         3.6          1.4         0.2  Iris-setosa